<nav class="navbar navbar-expand-lg navbar-ligth bg-dark">

    <div class="container-fluid">

        <a class="navbar-brand" href="/" style="color: white;">EntregApp</a>

        <a href="/login" class="navbar-item rd-flex" style="color: white;">Login</a>
        
    </div>

</nav>