<%- include("../partials/header") %>

<body style="background-color: aliceblue;">
    
    <%- include("../partials/navbar") %>

    <div class="container">

        <center><h4> Carrinho: </h4></center>

        <div class="card mb-3">
            
            <div class="card-body">
              <h5 class="card-title"> McDonald's </h5>
            </div>
            
        </div>

        <div class="card mb-3">
            
            <div class="card-body">
              <h5 class="card-title"> Total a pagar: </h5>
            </div>
            
        </div>

    </div>

</body>

<%- include("../partials/footer") %>