<%- include("partials/header") %>

<body style="background-color: aliceblue;">
    
    <%- include("partials/navbar") %>

    <div class="container">
        <hr>

        <center>
            <h4>Bem vindo ao Entregapp!</h4>
        
            <h6>Faça seu cadastro abaixo!</h6>
        </center>

        <hr>

        <div align="center">

            <a href="/cadastro/cliente" class="btn btn-success m-3">Cliente</a>
            <a href="/cadastro/restaurante" class="btn btn-success m-3">Restaurante</a>
            <a href="/cadastro/entregador" class="btn btn-success m-3">Entregador</a>

        </div>

    </div>

</body>


<%- include("partials/footer") %>